@import '../../node_modules/modern-normalize/modern-normalize.css';

* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.wrap-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hiden;
}

.section__header {
  background-image: linear-gradient(to bottom, blue, rgb(42, 208, 230));
  /* margin-bottom: 20px; */
}

.text-form {
  display: flex;
  gap: 24px;
  align-items: center;
  max-width: 640px;
  margin-left: 0;
}

.input-box {
  font: inherit;
  padding: 8px 48px 8px 8px;
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
  border-radius: 8px;
  border: none;
}

.button__add_text {
  padding: 8px;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 8px;
}

.texts-document {
  position: relative;
  flex-grow: 1;
  overflow: auto;
}

.text-line {
  /* z-index: 20; */
  position: relative;
  user-select: none;
}

.text-line > [data-selection='true'] {
  background-color: #3498db;
  color: #fff;
}

.moving-test {
  position: absolute;
  display: none;
  z-index: 20;
  background-color: #3498db;
  color: #fff;
}
.canvas-field {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  /* outline: 1px solid red; */
  /* background-color: rgb(204, 204, 46, 0.2); */
}
